<div class="modal">
  <ion-header-bar>
    <h1 class="title">Select Tags</h1>
    <div class="buttons">
      <button class="button button-icon ion-close" ng-click="modalActivity.close()"></button>
    </div>
  </ion-header-bar>
  <ion-content>
    <button class="button button-small icon-right ion-close button-positive">Anything</button>
    <button class="button button-small icon-right ion-close button-positive">Drinks</button>
    <button class="button button-small icon-right ion-close button-positive">Coffee</button>
  </ion-content>
</div>