<ion-header-bar class="bar-positive">
  <button class="button button-icon button-clear ion-navicon" ng-click="toggleLeft()"></button>
  <h1 class="title">{{title}}</h1>
</ion-header-bar>
<ion-content padding="false" scroll="true">
  <div class="list">
    <li ng-repeat="contact in Contacts" class="item item-thumbnail-left item-toggle">

      <h2>{{ contact.displayName }}</h2>
      <h4>{{ contact.emails }}</h4>
<!--       <label class="toggle toggle-positive">
        <input type="checkbox" ng-model="contact.checkbox" ng-change="buttonToggle(this.contact)">
        <div class="track">
         <div class="handle"></div>
        </div>
      </label> -->
    </li>
  </div>
</ion-content>