<ion-side-menus>
    
  <ion-pane ion-side-menu-content>
    <ion-nav-bar type="bar-positive"> </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-pane> 
  
  <ion-side-menu side="left">
    <header class="bar bar-header bar-assertive">
      <div class="title">Menu</div>
    </header>
    <ion-content has-header="true">
      <ul class="list">
        <a href="#/" class="item">Friends</a>
        <a href="#/" class="item">Locations</a>
      </ul>
    </ion-content>
  </ion-side-menu>
  
</ion-side-menus>