<div class="modal">
  <ion-header-bar>
    <h1 class="title">Create New Event</h1>
    <div class="buttons">
      <button class="button button-icon ion-close" ng-click="modals.modalEvent.hide()"></button>
    </div>
  </ion-header-bar>
  <ion-content>
    <div class="list">
      <label class="item item-input item-stacked-label">
        <span class="input-label">Event Type</span>
        <div ng-repeat="tag in newEvent.tags">
          <button class="button button-small icon-right ion-close button-positive" ng-click="modals.modalActivity.show()">{{tag}}</button>
        </div>
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Invitees</span>
        <button class="button button-small icon-right ion-close button-positive" ng-click="modals.modalFriends.show()">All near-by friends</button>
      </label>
      <label class="item item-input item-stacked-label" ng-click="addTime()">
        <span class="input-label">Time</span>
        <span ng-if="!specifyTime">Now</span>
        <span ng-if="specifyTime">
          <input ng-model="newEvent.time.hh" type="number" placeholder="hh" style="border:1px solid grey; width:80px; float:left">
          <input ng-model="newEvent.time.mm" type="number" placeholder="mm" style="border:1px solid grey; width:80px; float:left">
        </span>
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Location</span>
        <input type="text" placeholder="(optional)" ng-model="newEvent.location">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Description</span>
        <input type="text" placeholder="(optional)" ng-model="newEvent.description">
      </label>
    </div>
    <div class="padding">
      <button class="button button-full button-positive" ng-click="createEvent()">Create Event</button>
    </div>
  </ion-content>
</div>