<div class="modal">
  <ion-header-bar>
    <h1 class="title">Add Friends</h1>
    <div class="buttons">
      <button class="button button-icon ion-close" ng-click="modals.modalFriends.hide()"></button>
    </div>
  </ion-header-bar>
  <ion-content padding="false" scroll="true">
    <ul class="list" style="height:300px;">
      <li ng-repeat="friend in $store.user.friends" class="item item-thumbnail-left item-toggle">
        <img ng-src="{{ friend.picture }}">
        <h2>{{ friend.displayName }}</h2>
        <h4>{{ friend.email }}</h4>
        <label class="toggle toggle-positive">
          <input type="checkbox" ng-model="friend.checked">
          <div class="track">
           <div class="handle"></div>
          </div>
        </label>
      </li>
    </ul>
    <div class="padding">
      <button class="button button-full button-positive" ng-click="modals.modalFriends.hide()">Save</button>
    </div>
  </ion-content>
</div>