<ion-header-bar class="bar-positive">
  <button class="button button-icon button-clear ion-navicon" ng-click="toggleLeft()"></button>
  <h1 class="title">Events</h1>
</ion-header-bar>
<ion-content padding="false" scroll="true">
  <div class="list">
    <div class="item item-divider">
      I've been invited to
    </div>
    <a href="#/event-invite/{{invite.uid}}" ng-repeat="invite in $store.invites" class="item">
      <img ng-src="{{ invite.owner.picture }}" style="max-height : 40px;" />
      <h2>{{ invite.owner.displayName }}</h2>
    </a>
  </div>
  <div class="list">
    <div class="item item-divider">
      My events
    </div>
    <a href="#/event/{{event.uid}}" ng-repeat="event in events" class="item">
      <img ng-src="{{ event.owner.picture }}" style="max-height : 40px;" />
      <h2>{{ event.owner.displayName }}</h2>
    </a>
  </div>
</ion-content>