<ion-header-bar class="bar-positive">
  <button class="button button-icon button-clear ion-navicon" ng-click="toggleLeft()"></button>
  <h1 class="title">Event Invite</h1>
</ion-header-bar>
<ion-content padding="false" scroll="true">

  <div class="list card">
    <div class="item item-avatar">
      <img src="{{event.owner.picture}}" width="30" height="30" />
      <h2>{{event.owner.displayName}}</h2>
      <p ng-if="event.time">{{event.time}}</p>
      <p ng-if="!event.time">Now</p>
    </div>

    <div class="item item-body">
      <p>
        You have been invited for a snapmeet
      </p>
      <p>
        {{event.description}}
      </p>
    </div>

    <div class="item item-body">
      <p>
        Other invitees
      </p>
      <ul>
        <li ng-repeat="invitee in event.invitees" class="item item-thumbnail-left">
          <img src="{{invitee.picture}}" />
          {{invitee.displayName}}
        </li>
      </ul>
    </div>

    <div class="item">
      <button class="button button-small button-balanced" ng-click="eventAccept(event)">Hell Yeah!</button>
      <button class="button button-small button-calm" ng-click="eventReject(event)">Not Today</button>
      <button class="button button-small button-assertive" ng-click="blockEvents(event)">Never with this loser</button>
    </div>

  </div>
</ion-content>