<ion-header-bar class="bar-positive">
  <button class="button button-icon button-clear ion-navicon" ng-click="toggleLeft()"></button>
  <h1 class="title">Event Invite</h1>
</ion-header-bar>
<ion-content padding="false" scroll="true">
  <div class="list card">
    <div class="item item-avatar">
      <img src="{{event.owner.picture}}" width="30" height="30" />
      <h2>{{event.owner.displayName}}</h2>
    </div>
    <div class="item item-body">
      <p>
        Details of event
      </p>
      <p>
        <span ng-repeat="tag in event.tags">{{tag}} </span>
        {{event.description}}
      </p>
    </div>
    <div class="item item-body">
      <h2>Invitees</h2>
      <p ng-repeat="invitee in event.invitees" class="item item-thumbnail-left">
        <img ng-src="{{ invitee.picture }}">
        {{invitee.displayName}}
      </p>
    </div>
    <a class="button button-full button-positive" href="/#/event-chat/{{event.uid}}">Chat!</a>
  </div>
</ion-content>