<ion-header-bar class="bar-positive">
  <button class="button button-icon button-clear ion-navicon" ng-click="toggleLeft()"></button>
  <h1 class="title">Home</h1>
  <button class="button" ng-click="loginObj.$logout()">Logout</button>

</ion-header-bar>
<ion-content padding="true" scroll="false">
  <button class="button button-full button-positive icon-left ion-person" ng-click="showModal()">I'm available now!</button>
  <ul>
  <li ng-repeat="friend in friends">{{friend.name}}</li>
</ul>
</ion-content>
