<ion-header-bar class="bar-positive">
  <button class="button button-icon button-clear ion-navicon" ng-click="toggleLeft()"></button>
  <h1 class="title">{{user.displayName}}</h1>
  <button class="button button-clear button-icon ion-ios7-people">
    <span ng-show="newMessages.length" class="badge badge-assertive">{{newMessages.length}}</span>
  </button>
</ion-header-bar>
<ion-content padding="true" scroll="false">
  <button class="button button-full button-positive icon-left ion-person" ng-click="modals.modalEvent.show()">I'm available now!</button>
  <div class="item item-divider" style="margin: 2rem 0 1rem 0">
    My SnapMeets
  </div>
  <div class="messages">
    <a ng-repeat="event in myEvents" href="#/event/{{event.uid}}" class="item-thumbnail-left">
      <img ng-src="{{ event.owner.picture }}">
      <p>
        <span ng-if="event.myEvent">You created </span>
        <span ng-if="!event.myEvent">{{ event.owner.displayName }} Is interested in </span>
        <span ng-repeat="tag in event.tags">{{tag}} </span> <span ng-if="event.time">at {{event.time.hh}}:{{event.time.mm}}</span> {{event.status}}
      </p>
    </a>
  </div>
</ion-content>
