<ion-header-bar class="bar-positive">
  <button class="button button-icon button-clear ion-navicon" ng-click="toggleLeft()"></button>
  <h1 class="title">{{user.displayName}}</h1>
  <button class="button button-clear button-icon ion-ios7-people">
    <span ng-show="newMessages.length" class="badge badge-assertive">{{newMessages.length}}</span>
  </button>
</ion-header-bar>
<ion-content padding="true" scroll="false">
  <button class="button button-full button-positive icon-left ion-person" ng-click="modals.modalEvent.show()">I'm available now!</button>
  <br /><br />
  <h4>My SnapMeets</h4>
  <ul class="messages">
    <li ng-repeat="event in user.events" class="item-thumbnail-left">
      <img ng-src="{{ event.owner.picture }}">
      <p>{{ event.owner.displayName }} {{event.type}}</p>
    </li>
  </ul>
</ion-content>
