<ion-header-bar class="bar-positive">
  <button class="button button-icon button-clear ion-navicon" ng-click="toggleLeft()"></button>
  <h1 class="title">{{title}}</h1>
  <button class="button" ng-click="openModal()">Add Locations</button>
</ion-header-bar>
<ion-content padding="false" scroll="true">
  <div class="list">
    <a ng-repeat="location in locations" href="#/{{location}}" class="item item-thumbnail-left">
      <img ng-src="{{ location.picture }}">
      <h2>{{ location.name }}</h2>
      <h4>{{ location.email }}</h4>
    </a>
  </div>
</ion-content>